body {
    margin: 0;
    padding: 0;
}


/* FONTS*/

h1 {
    font-family: 'Saira Extra Condensed', sans-serif;
}

h2 {
    font-family: 'Mulish', sans-serif;
}


/*
# fonts
name and titles: saira extra condensed
font-family: 'Saira Extra Condensed', sans-serif;
texts: muli 
font-family: 'Mulish', sans-serif;
*/