html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}


/*  # FONTS
name and titles: saira extra condensed
font-family: 'Saira Extra Condensed', sans-serif;
texts: muli 
font-family: 'Mulish', sans-serif;
*/

.main-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100vh;
    grid-template-areas: "header section";
}

header {
    border: 1px solid red;
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7159c1;
}

#header-pill-tab {
    background-color: black;
}

section {
    border: 1px solid red;
    grid-area: section;
}

.profile-picture {
    height: 150px;
    width: 150px;
    border: 9px solid #8f71ee;
    border-radius: 100%;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-brand {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 10px;
    padding-right: 10px;
}


/* ABOUT*/

.full-name {
    display: flex;
}

.name1,
.name2 {
    margin: 6px;
    font-family: "Saira Extra Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
}

.name1 {
    color: #312e2e;
}

.name2 {
    color: #7159c1;
}

.contact {
    color: #312e2e;
    margin-left: 6px;
    font-size: 1.6rem;
    display: flex;
    text-transform: uppercase;
}

.mail {
    margin-left: 5px;
    color: #7159c1;
    font-family: "Saira Extra Condensed", sans-serif;
}

.contact a:hover {
    color: #7159c1;
}

.text1,
.section-title,
.role-info {
    font-family: "Saira Extra Condensed", sans-serif;
}

.resume-paragraph {
    margin-left: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.4rem;
    color: #6b6b6b;
}

.social-profiles {
    margin: 10px;
}

.social-profiles a {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: #312e2e;
}

.social-profiles a:hover {
    color: #7159c1;
}


/* EXPERIENCE */

.section-title {
    text-transform: uppercase;
    font-size: 3rem;
    margin-left: 25px;
    color: #312e2e;
}

.btn-experience {
    display: flex;
    border: 1px solid red;
    align-items: center;
    text-align: left;
}

.role-info {
    display: block;
    border: 1px solid black;
    text-transform: uppercase;
}

.role-info h3,
.role-info h4 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.role-name {
    font-size: 2.5rem;
    color: #312e2e;
}

.company-name {
    color: #6b6b6b;
}

.period-div {
    font-family: "Mulish", sans-serif;
    border: 1px solid black;
    color: #7159c1;
}

.period-text {
    font-size: 1rem;
}

.card-body {
    color: #6b6b6b;
}


/*  media query */

@media (max-width: 600px) {
    .main-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 5vh 95vh;
    }
    .resume-header {
        grid-column: 1;
        grid-row: 1 / 2;
    }
    .resume-content {
        grid-column: 1;
        grid-row: 2 / 3;
    }
    header {
        display: block;
        text-align: center;
    }
    .profile-picture {
        display: block;
        margin: 0px;
        border: none;
        width: 0px;
        height: 0px;
    }
    .name1,
    .name2 {
        font-size: 2.5rem;
    }
    .contact {
        display: block;
        font-size: 1.5rem;
    }
    .mail {
        margin-left: 0px;
        color: #7159c1;
    }
    .resume-paragraph {
        font-size: 1.3rem;
        margin-top: auto;
        margin-bottom: auto;
    }
    .social-profiles {
        display: block;
        margin: 10px 10px 10px 0px;
    }
    .section-title {
        font-size: 2.5rem;
    }
    .btn-experience {
        display: block;
    }
    .role-info {
        display: flex;
        justify-content: center;
    }
    .role-name,
    .company-name {
        font-size: 1.3rem;
        margin: 4px;
    }
    .period-text {
        text-transform: uppercase;
        font-size: 1rem;
        text-align: center;
        margin-bottom: 0px;
    }
}